{% extends "base.html" %}
{% load static %}
{% block  content %}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Let Our Family Show Your Family the Way Home</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ About Star /-->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="{% static 'img/VRE1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">Vastu Real Estate
              <span></span>
              <br> Sinse 2008</h3>
            <p>We Are Life Changers</p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
             <div class="col-md-12 col-lg-8 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">About Us: </h3>      </div>
              <p class="color-text-a">
                Vastu Real Estate , is one of the <b>Mumbai’s leading property consultancy firms</b> . We work from a well
                equipped and centrally located office in the Heart of Mumbai with more than <b>10 years </b> of experience in
                this Business. An esteemed organization which had raised its own name to along extend since it is been
                proved by last 10 years. We provide best services to which we are proud to say. And since that is our
                success quote. We were able to expand our business to a long extension within this time as we get
                support from major companies, and we had done approx. 25 gunta ( 27,225 sqft) spaces only for Big
                companies and parties and many more within this time. All these are because of a good team work and
                a good relation with the public.
              </p>
              <p class="color-text-a">
                Vastu Real Estate has over time developed an impressive list of clients which include large MNC’s, Prominent builders, Private companies in Mumbai and Many Individuals. An impressive track record together with high quality client services ability, Vastu Real Estate Stands head and should above its
                competitors in Business. <b> If you are looking to Buy or Rent/Lease in to a property in Mumbai Specially in
                Kandivali, Borivali & Dahisar, and we do assist you to find the right property as per your need and
                requirement</b>. We also assist you in buying and selling of plots and in redevelopment projects. If you
                have your property for sale/Rent in Mumbai, We can assist you to we can market your property through
                different channels and find a client/tenant/Buyer for your property on sale/Rent/Lease in Mumbai.
              </p>
             </div>
             <div class="col-md-12 col-lg-4 section-md-t3 pt-5 mt-5" >
               <img src="{% static 'img/LICENCE.jpg'%}" class="img-fluid" alt="">
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About End /-->

  <!--/ Team Star /-->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Meet Our Team</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'img/dad.png' %}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h2 class="title-d">
                    Hitesh Shah
                    <hr>
                  </h2>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Mr Hitesh Shah is a visionary who has led to success in various projects through hard work, dedication and perseverance since 2010 years .He encourages utmost integrity and transparency in all aspects of professional life. An accomplished leader he believes honest and sincere efforts always yields results. <br>
                  His motto is  - <b> "Earn money without Investment".</b>
                </p>
                <div class="info-agents color-a mt-4">
                  <p>
                    <strong>Phone: </strong> 9987141067</p>
                  <p>
                    <strong>Email: </strong> hitesh69shah@gmail.com</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'img/mom.png' %}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    Dipa Shah
                    <hr>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Mrs Dipa Shah has played a significant role in ensuring highest efficiency during the execution since 2013.He sets very high standards of quality and consistently works towards attainment of the same. With a optimization, and a focused approach, She’s all set to maintain a successful streak
                </p>
                <div class="info-agents color-a mt-4">
                  <p>
                    <strong>Phone: </strong>9867466363</p>
                  <p>
                    <strong>Email: </strong> dipa1971shah@gmail.com</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </section>
  <!--/ Team End /-->

{%endblock content%}