{% extends "base.html" %}

{% block  content %}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Contact US</h1>
            <span class="color-text-a">Vastu Real Estate members are always ready to clear your doubts and can help you to get the best home according to your requirements. You can meet us at our office or can contact us with the help of details provided here.</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Contact
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="row">
            <div class="col-md-7">
              <form class="form-a contactForm" action="{% url 'contact' %}" method="post" role="form">
                {% csrf_token %}
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="text" name="subject" class="form-control form-control-lg form-control-a" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea name="message" class="form-control" name="message" cols="45" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-lg btn-a" style="width: 100%;">Send Message</button>
                  </div>
                  </form>
                </div>
            </div>
            <div class="col-md-5 section-md-t3 pl-4" >
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-paper-plane"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Say Hello</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1"><b>Email :</b>
                      <span class="color-a">vastu07realestate@gmail.com</span>
                    </p>
                    <p class="mb-1"><b>Dipa Shah :</b>
                      <span class="color-a">9867366464 <i class="fab fa-whatsapp-square"></i> </span>
                    </p>
                    <p class="text-muted" style="font-size: 12px;">You can whatsapp on the given number or call for enquiry.</p>
                  </div>
                </div>
              </div>
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-pin"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Find us in</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">
                      Vastu Real Estate <br>
                      1, Nathibai Bhuvan, Carter Road No. 2, Datta Pada, Road No. 2, Borivali East,Mumbai-66
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 section-t8">
          <div class="contact-map box">
            <div id="map" class="contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.2711977258145!2d72.85694641490358!3d19.22700898700146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0d3a3b08a13%3A0xeb7286a159ee1bd3!2sVastu%20Real%20Estate!5e0!3m2!1sen!2sin!4v1589795812693!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ Contact End /-->


{%endblock content%}
