  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Vastu RealEstate</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Vastu Real Estate , is one of the Mumbai’s leading property consultancy firms. We work from a wellequipped and centrally located office in the Heart of Mumbai with more than 10 years of experience in this Business.... <a href="/home/about/">Read More</a>
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a"><b>Email :</b></span> Vasturealestate@gmail.com</li>
                <li class="color-a">
                  <span class="color-text-a"><b>Phone 1 :</b></span> 9867366464</li>
                <li class="color-a">
                  <span class="color-text-a"><b>Phone 2 :</b></span> 99877366464</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Timings</h3>
              <hr>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    - Monday - Sunday <br>
                    - 7 Days a week <br>
                    - Time : 9:00 AM To 8:00 PM
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand"><i class="fas fa-envelope"></i> Email Address: </h3>
            <hr>
            <h6 class="text-muted">Provide us your email address to get the latest updates about our properties</h6>
          </div>
          <form class="form-a contactForm" action="/" method="post" role="form">
            {% csrf_token %}
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <div class="row">
              <div class="col-md-12 mb-3 mt-4">
                <div class="form-group">
                  <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validation"></div>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-12 mt-1">
                <button type="submit" class="btn btn-a" style="width: 100%;">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="/home/about/">About</a>
              </li>
              <li class="list-inline-item">
                <a href="/home/properties/">Property</a>
              </li>
              
              <li class="list-inline-item">
                <a href="/home/contact/">Contact</a>
              </li>
            </ul>
          </nav>
         
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">EstateAgency</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>