{% extends "base.html" %}
{% load static %}
{% block  content %}
 
  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide.png' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Race Course, Mahalaxmi
                      <br> 400034</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Beautiful </span>Places To Live.</h1>
                    <!-- <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide2.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Gateway Of India,Colaba, Mumbai
                      <br> 400001</p>
                    <h2 class="intro-title mb-4">
                      Our <span class="color-b">Passion </span>
                      is People. What’s Yours?</h2>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide3.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Borivali, Mumbai
                      <br>400022</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Beautiful</span>places to live.</h1>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Carousel end /-->


  <!--/ Services Star /-->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
       
        <div class="col-md-12">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-home"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Investments</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Investment in Commercial properties in India is becoming competitive with an increasing demand for
plug and play offices, Multi facility space and a burgeoning retail invasion.
We offer pre-tenanted & under development properties with excellent returns, initiating and
maximizing the zones of investment in spaces for retail and and corporate houses, restaurants,
multiplexes and shopping malls all across MUMBAI. Our Investment advisory services include detailed
market analysis guidance on legal and taxes.

              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row mt-4">
       
        <div class="col-md-12">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span><i class="fas fa-laptop-house"></i></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Property Buying Guidance</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                We the Vastu Real Estate guarantee Price Transparency and Integrity in all our property transaction and
ensure that our client gets the best price offered by the real estate developers at any time. We provide
full co-operation between the Buyer and the developers to ensure satisfactory completion with an
ethical and legal compliance.

              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Properties</h2>
            </div>
            <div class="title-link">
              <a href="/home/properties/">All Property
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for obj in latest %}  
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{ obj.image.url }}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single.html">{{obj.name}}
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Price | Rs.{{ obj.price }}</span>

                    <span class="price-a">
                      {% for stat in obj.status.all %}
                        {{stat}}
                      {% endfor %}
                    </span>
                  </div>
                  <a href="#" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>{{obj.area}}
                        <sup></sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">BHK</h4>
                      <span>{{obj.BHK}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Venue</h4>
                      <span>{{obj.location}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>   
  
        <div class="carousel-item-b">
         
        </div>
      
      </div>
    </div>
  </section>




{% endblock content%}
